@import url('../../../Styles/Main.css');

.product-item-wrapper {
    display: flex;
    align-items: center;
}

.product-img-wrapper {
    background-color: var(--color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;
    overflow: hidden;
}

.product-img-wrapper:hover {
    background-color: var(--color-17);
}

.product-img-wrapper>img {
    width: calc(110px + .1vw);
    height: calc(110px + .1vh);
    border-radius: 50%;
}

.product-img-wrapper {
    perspective: 1000px;
}

.product-img-wrapper img {
    transition: transform 0.5s ease;

}

.product-img-wrapper:hover img {
    transform: scale(1.1);
}

.product-text {
    color: var(--color-17);
    font-size: calc(.9rem + .3vw);
    cursor: pointer;
    font-weight: bold;
}

.product-price {
    font-weight: bold;
    color: #669bbc;
    text-align: center;
    margin-bottom: 2.1rem;
}

.content-menu-item {
    width: 60%;
}

.product-price-small {
    font-weight: bold;
    color: #669bbc;
    text-align: center;
}

@media (max-width:992px) {
    .content-menu-item {
        width: 80%;
    }
}

@media (max-width:600px) {
    .product-item-wrapper {
        justify-content: start;
    }

    .style-small {
        justify-content: center
    }

    .product-text {
        font-size: 1.2rem;
    }

    .product-price-small {
        font-size: 1.2rem;
    }

    .dec-product-menu {
        font-size: .9rem;
    }
}