@import url('../../../../Styles/Main.css');

.section6-wrapper {
    display: flex;
    align-items: center;
    height: 40vh;
    flex-wrap: wrap;
}

.section6-left {
    background-image: url('../../../../../public/images/Frame\ 36.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.section6-right {
    display: flex;
    flex-direction: column;
    padding-left: 1.7rem;
}

.rtl .section6-right {
    padding-left: 0;
    padding-right: 1.7rem;
}

.Qcafe-title {
    color: var(--color-3);
    font-weight: 500;
    font-size: calc(.5vw + 25px)
}

.Qcafe-text1 {
    font-weight: bold;
    font-size: calc(.5vw + 10px);
    width: 91%;
}

.Qcafe-text2 {
    margin-top: 1.5rem;
    font-weight: 300;
}

.qcafe-phone {
    color: var(--color-3);
    border-bottom: 1px solid var(--color-3);
    width: max-content;
}


@media (max-width:768px) {
    .section6-wrapper {
        height: max-content;
    }

    .section6-left {
        height: 40vh;
    }

    .section6-right {
        height: 24vh;
        margin-top: 1rem;
    }
}


@media (max-width:600px) {
    .Qcafe-text2 {
        font-size: .8rem;
    }

    .section6-left {
        height: 30vh;
    }

    .qcafe-phone {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .section6-wrapper {
        height: max-content;
    }

    .section6-right {
        height: auto;
        padding-bottom: 1.3rem;
    }

    .section6-left {
        height: 60vh;
    }
}