@import url('../../../../Styles/Main.css');

.section5-wrappper {
    height: 40vh;
    background: var(--LinearGradient-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.section5-left {
    height: 100%;
}

.motor-fade {
    height: 100%;
}

.section5-left>img {
    margin-top: 1.2rem;
    height: 90%;
}

.section5-right {
    padding-right: 10%;
    font-size: calc(.4vw + .9rem);
}

.text-section5 {
    color: #fff;
}

.telephone-text {
    font-weight: 600;
}

.telephone-number {}



@media only screen and (max-width: 555px) {
    .section5-right {
        padding-right: 10px;
    }

    .section5-right {
        display: flex;
    }

    .text-section5 {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
    }
}

@media (max-width:1025px) {

    .section5-wrappper {
        height: 20vh;
    }


}



@media only screen and (min-width: 601px) and (max-width: 1024px) {}

/* Desktop */
@media only screen and (min-width: 1025px) {}