@import url('../../../../Styles/Main.css');

.section4-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.section4-left {
    padding: 2rem 0 0 2rem;
    color: var(--color-3);
}

.rtl .section4-left {
    padding: 2rem 2rem 0 0;
}

.section4-title {
    font-size: calc(1vw + 1.2rem);
    font-weight: bold;
}

.section4-dec {
    font-size: calc(.4vw + .9rem);
    margin-top: 2rem;
    padding-bottom: 15px;
}

.section4-right {}

.section4-right>img {
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 600px) {}

@media (max-width:1025px) {}

@media only screen and (min-width: 601px) and (max-width: 1024px) {}

@media (max-width:768px) {}

/* Desktop */
@media only screen and (min-width: 1025px) {}