@import url('../../../../Styles/Main.css');

.section4-wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 40%;
    flex-wrap: wrap;
}

/* start style section4-left */
.section4-left {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2rem 3rem;
}


.section4-title {
    font-weight: 600;
    font-size: calc(.5vw + 25px)
}

.section4-title,
.section4-dec {
    color: var(--color-3);
}

.section4-dec {
    margin: 2rem 0;
}

.btn-section4-wrapper {
    display: flex;
    justify-content: end;
}


/* end style section4-left */

/* start style section4-right */
.section4-right {
    background-image: url('../../../../../public/images/milk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

/*end style section4-right */



@media only screen and (max-width: 600px) {
    .telephone-text {
        font-size: .9rem;
    }
}

@media (max-width:1025px) {}



@media only screen and (min-width: 601px) and (max-width: 1024px) {}

@media (max-width:768px) {
    .section4-wrapper {
        height: max-content;
    }

    .section4-right {
        height: 27vh;
    }
}

/* Desktop */
@media only screen and (min-width: 1025px) {}