@import url('../../../Styles/Main.css');



.menu-Header {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-3);
}

.menu-title {
    font-weight: 600;
    font-size: calc(.3vw + 1.1rem);
}

.menu-tab-list {
    display: flex;
    align-items: center;
}

.menu-tab-list a.active::after {
    width: 100%;
}

.menu-tab-list-item {
    margin-left: calc(2vw + 10px);
    font-weight: 400;
    transition: all .3s ease;
    cursor: pointer;
    position: relative;
}

.menu-tab-list-item:hover {
    color: var(--color-17);
    font-weight: bold
}

.menu-tab-list-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-17);
    transition: width 0.3s ease;
    padding-top: 2px;
}

.menu-tab-list-item:hover::after {
    width: 100%;
}

.menu-tab-list-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-3);
    transition: width 0.3s ease;
    padding-top: 2px;
}


.menu-tab-list-item {
    text-decoration: none;
    color: var(--color-3);
    position: relative;
    padding-bottom: 1px;
    font-weight: 600;
}

.border-menu {
    border-bottom: 1px solid var(--color-17);
}


@media (max-width:600px) {
    .menu-tab-list-item {
        margin-left: 0;
        margin-right: calc(2vw + 10px);
    }

    .rtl .menu-tab-list-item {
        margin-left: calc(2vw + 10px);
        margin-right: 0;
    }
}

@media (max-width:1025px) {
    /* .menu-Header {
        position: fixed;
        width: 90%;
        top: 30px
    } */
}