@import url('../../../Styles/Main.css');

.products-content {
    margin-top: 5vh;
}

.products-header {
    border-bottom: 2px solid #9797974b;
    margin-bottom: 2rem;
}

.title-products-header {
    margin-left: 6vw;
    color: var(--color-17);
    font-weight: 600;
    font-size: calc(.4vw + .9rem);
}

.rtl .title-products-header {
    margin-left: 0;
    margin-right: 6vw;
}

.menu-product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.stylecontent {
    justify-content: center;
    margin-bottom: 2rem;
}

.content-text {
    width: auto;
}

@media (max-width:992px) {
    .menu-product {
        width: 90%;
    }
}

@media (max-width:600px) {
    .products-content {
        margin-top: 2vh;
    }

    .menu-product {
        width: 100%;
    }
}