@import url('../../../Styles/Main.css');

.lodaing-container {
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}