@import url('../../../../Styles/Main.css');

.section1-product-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.back_en {
    background: linear-gradient(90deg, #EDF6F9 0%, #669BBC 100%);
}

.back_fa {
    background: linear-gradient(90deg, #669BBC 0%, #EDF6F9 100%);
}

.section1-product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
}

.icon-size-wrapper {
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(163, 206, 241, 1);
}

.main-pooduct-image>.mySwiper-products {
    height: calc(180px + .3vw);
    width: calc(280px + .3vw);
}

.swiper-slide {
    display: flex !important;
    justify-content: center !important;
}

.swiper-slide>img {
    height: 100%;
    object-fit: cover;
}



.main-product-content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 50%;
}

.rtl .main-product-content {
    padding-left: 0;
    padding-right: 50px;
}

.main-product-title {
    color: var(--color-17);
    font-size: calc(1.3rem + .1vw);
    font-weight: bold;
}

.main-product-title-m,
.product-price-m {
    color: #fff;
    font-size: calc(1rem + .1vw);
    font-weight: bold;
}

.main-product-text {
    color: var(--color-12);
    font-size: .9rem;
    width: 90%
}

.main-product-price {
    margin-top: 1rem;
    color: var(--color-17);
    font-weight: bold;
    font-size: 1.2rem;
}

.activeIcon {
    /* color: #fff; */
}

.icon-size-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icon-order-container {
    padding: 7px;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
}

.size-order-text {
    margin-top: 10px;
    font-size: .8rem;
    font-weight: bold;
    color: #fff;
}


.icon-oder-size-1 {
    font-size: 1.5rem !important;
}

.icon-oder-size-2 {
    font-size: 1.9rem !important;
}

.icon-oder-size-3 {
    font-size: 2.2rem !important;
}

.active-size {
    background-color: #fff;
    color: var(--color-3);
}

.dissize {
    cursor: not-allowed;
    background-color: transparent;
    pointer-events: none;
    color: var(--color-12)
}

.distext {
    color:var(--color-12)
}

.icon-size-order>span {
    color: var(--color-3);
}

.icon-order-container:hover {
    background-color: #fff;
}

.icon-order {
    transition: all .3s ease;
}

.icon-order-container:hover .icon-order {
    color: var(--color-3);
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border-radius: 10px !important;
}

.width-size {
    width: 30%;
}

.icon-size-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.drop-product {
    width: 100% !important;
    font-family: "iranyekan";
}



.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: .8rem !important;
    color: #000;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 13.5px 14px 10px 14px !important
}



.small-dropdown-product,
.small-size-select {
    width: 60%;
}


.title-mobile-size,
.additive-mobile-size {
    color: var(--color-17);
    font-size: 1.2rem;
    font-weight: bold;
}

.main-product-price-mob {
    background-color: var(--color-17);
}


.image-main-product {}

.wrap-info-product {
    width: 100%;
}

.wrap-size-order-text {
    margin: 0 .5rem 0 .6rem;
}

.radios-container {
    margin-top: 1.2rem;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 7px;
}


.muirtl-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,.muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: "iranyekan" !important;
    font-size: .9rem !important;
}

.wrap-option{
    width: 70%;
}


/* .no-margin {
    margin: 0 !important;
} */

@media (max-width:1025px) {
    .section1-product-container {
        width: 100%;
    }
}

@media (max-width:600px) {
    .main-pooduct-image>.mySwiper-products {
        height: calc(180px + .3vw);
        width: calc(280px + .3vw);
    }

    .small-dropdown-product {
        width: 100%;
    }

    .main-product-text {
        width: 100%;
    }

    .section1-product-wrapper {
        background: linear-gradient(90deg, #EDF6F9 0%, #669BBC 100%);
    }

    .size-order-text {
        color: var(--color-3);
    }

    .distext {
    color:var(--color-12)
    }

        .wrap-option {
            width: 60%;
        }
}