@import url('../../../../Styles/Main.css');

.section1-product-wrapper {
    background: var(--LinearGradient-1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}

.section1-product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
}

.left-section1-product {
    display: flex;
    align-items: center;
}


.icon-size-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.icon-oder-size-2 {
    font-size: 1.8rem !important;
}

.icon-oder-size-3 {
    font-size: 2.2rem !important;
}



.active-size {
    background-color: var(--color-3);
}


.icon-order {
    color: var(--color-17);
}




/* new */

.main-pooduct-image>.mySwiper-products {
    height: calc(170px + .3vw);
    width: calc(200px + .3vw);
}

.main-product-content {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.rtl .main-product-content {
    padding-left: 0;
    padding-right: 50px;
}

.main-product-title {
    color: var(--color-17);
    font-size: calc(1.3rem + .1vw);
    font-weight: bold;
}

.main-product-text {
    color: var(--color-12);
    font-size: .9rem;
    width: 40%;
}

.main-product-price {
    margin-top: 1rem;
    color: var(--color-17);
    font-weight: bold;
    font-size: 1.2rem;
}

.activeIcon {
    color: #fff;
}


.icon-order-container {
    padding: 7px;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
}

.size-order-text {
    margin-top: 10px;
    font-size: .8rem;
}

.icon-size-order>span {
    color: var(--color-3);
}

.icon-order-container:hover {
    background-color: var(--color-3);
}

.icon-order {
    transition: all .3s ease;
}

.icon-order-container:hover .icon-order {
    color: #fff;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border-radius: 10px !important;
}

.width-size {
    width: 30%;
}

.icon-size-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.drop-product {
    width: 100% !important;
}

@media only screen and (max-width:949px) {}

@media (max-width:890px) {
    .icon-size-order>span {
        color: var(--color-17);
    }
}

@media (max-width:768px) {
    .section1-product-container {
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .section1-product-wrapper {
        padding: 1rem 0;
    }

    .section1-product-container {
        width: 100%;
    }

    .left-section1-product {
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width:412px) {

    .rtl .clippath-py-text {
        padding-left: 53px;
    }
}


@media (max-width:412px) {
    .clippath-py-text {
        padding: 7px 33px 7px 12px;
    }
}