@import url("../../../Styles/Main.css");


.btn-module {
    all: unset;
    color: #fff;
    background-color: var(--color-17);
    border-radius: var(--border-radius-1);
    transition: all .3s ease;
    padding: 8px 0;
    width: 140px;
    text-align: center;
}

.btn-module:hover {
    background-color: var(--color-btn-hover-2);
}

@media (max-width:992px) {
    .btn-module {}
}

@media (max-width:600px) {}

@media (max-width:400px) {}