@import url('../../../../Styles/Main.css');

/*start style  section2-product-left */
.section2-product-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 1rem;
}

.section2-product-left {
    padding: 0 2rem 2rem 2rem;
}

.Additives-text {
    color: var(--color-17);
    font-weight: 600;
    font-size: calc(.2vw + 1.1rem);
    margin-bottom: 2rem;
}

.MuiFormControl-root {
    margin: 0 !important;
    width: calc(3.5vw + 200px);
}

.MuiSelect-select {
    padding-bottom: 5px !important;
    height: 25px !important;
    font-size: .9rem !important
}

.prodcut-radio-wrapper {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.product-radio-item {
    display: flex;
    align-items: center;
    margin-right: 2.7rem;
    color: #669bbc;
    cursor: pointer;
}

.radio-text {
    transition: all .3s ease;
}

.radio-text:hover {
    color: var(--color-17);
}

.input-radio {
    margin-left: 5px;
}

.item-radio-product {
    color: #669bbc;
}


.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: inherit !important;
}

/*end style  section2-product-left */

/* start style section2-product-right  */

.section2-product-right {
    display: flex;
    flex-direction: column;
    color: var(--color-17);
    font-weight: bold;
    align-items: center;
}

.price-main-product-title {
    margin-bottom: 3rem;
    font-size: calc(.2vw + 1.1rem);
}

.price-main-product {
    font-weight: bold;
    font-size: calc(.1vw + 1rem);
}


.content-start {
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    flex-direction: row !important;
}

.nopadding {
    margin-bottom: 0;
    margin-right: 4rem;
}

.rtl .nopadding {
    margin-left: 4rem;
    margin-right: 0;
}

/*end style  section2-product-right */



@media (max-width:992px) {
    .prodcut-radio-wrapper {
        margin-top: 1.5rem;
    }

    .prodcut-radio-wrapper {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .section2-product-left {
        padding-bottom: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .price-product-show-container {
        width: 70%;
    }
}

@media (max-width:768px) {
    .css-1869usk-MuiFormControl-root {
        width: 50% !important;
    }

    .section2-product-left {
        padding-bottom: 1rem;
    }
}


@media (max-width:600px) {
    .section2-product-right-text {
        font-size: .9rem;
    }

    .css-1869usk-MuiFormControl-root {
        width: 100% !important;
    }

    .prodcut-radio-wrapper {
        gap: 2rem;
    }

    .section2-product-right {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
    }

    .price-product-show-container {
        margin-top: 1rem;
        width: 90%;
    }

    .select-size-wrapper {
        margin-top: 1rem;
    }

    .price-main-product-title {
        margin-bottom: 0;
        font-weight: bold;
    }

    .drop-product {
        width: 100%;
    }

}