@import url('./Styles/Main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Inter';
    src: url('../public/font/Inter-Light.eot') format('eot'),
        url('../public/font/Inter-Light.woff') format('woff'),
        url('../public/font/Inter-Light.woff2') format('woff2'),
        url('../public/font/Inter-Light.ttf') format('ttf'),
        url('../public//font/Inter-ExtraLight.ttf') format('ttf'),
        url('../public//font/Inter-ExtraLight.eot') format('eot'),
        url('../public//font/Inter-ExtraLight.woff') format('woff'),
        url('../public//font/Inter-ExtraLight.woff2') format('woff2'),

}


@font-face {
    font-family: 'iranyekan';
    src: url('../public/font/iranyekanweblight.eot') format('eot'),
        url('../public/font/iranyekanweblight.woff') format('woff'),
        url('../public/font/iranyekanweblight.woff2') format('woff2'),
        url('../public/font/iranyekanweblight.ttf') format('ttf');
}



.ltr-font {
    font-family: 'Inter', sans-serif !important;
}

.rtl {
    direction: rtl;
    font-family: "iranyekan", sans-serif !important;
}


.link {
    all: unset;
}


/* App.css */


.conatainer-project {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.hiddenback {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    /* Styles for mobile devices */
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for tablets */
}

/* Desktop */
@media only screen and (min-width: 1025px) {
    /* Styles for desktops */
}