@import url('../../Styles/Main.css');


.notfound-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-mot {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
}

.notfound-title {
    font-size: calc(6rem + 5vw);
    color: var(--color-3);
    z-index: 2;

}

.notfound-text {
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    color: var(--color-3);
    z-index: 2;
}

.link-not {
    font-size: calc(1rem + 1vw) !important;
    margin-top: 2rem !important;
    cursor: pointer !important;
    border-bottom: 1px solid !important;
    z-index: 2 !important;
}